.sanctioncard {
  width: 950px;
//  height: 100%;
}
.top-right-fab {
  position: absolute;
  right: -30px;
  top: 10px;
}

.cdk-column-tournamentName {
  flex: 4;
}

.cdk-column-startDate {
  flex: 2;
}

.cdk-column-endDate {
  flex: 2;
}

.cdk-column-status {
  flex: 2;
}

.cdk-column-edit {
  flex: 1;
}

.cdk-column-duplicate {
  flex: 1;
}
