<div fxLayout="row">
  <div fxFlex></div>
  <mat-card class="sanctioncard">
    <button mat-fab class="top-right-fab" (click)="onAddSanction()">
      <mat-icon aria-label="Add insurance request">add</mat-icon>
    </button>
    <mat-card-title>Sanction Tournament Requests</mat-card-title>
    <mat-progress-bar *ngIf="loading$ | async; else elseblock" mode="indeterminate" color="primary"></mat-progress-bar>
    <ng-template #elseblock><mat-progress-bar mode="determinate" color="primary" value="0"></mat-progress-bar></ng-template>
    <mat-card-content>
      <div class="sanction-table mat-elevation-z8">
        <mat-table #sanctiontable [dataSource]="dataSource">
          <ng-container matColumnDef="tournamentName">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let sanctionRequest">{{ sanctionRequest.tournamentName }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
            <mat-cell *matCellDef="let sanctionRequest">{{ sanctionRequest.startDate  | date}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let sanctionRequest">{{ sanctionRequest.status }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
            <mat-cell *matCellDef="let sanctionRequest">
              <button mat-icon-button (click)="onEditSanction(sanctionRequest.id)"><mat-icon aria-label="Edit">edit</mat-icon></button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="duplicate">
            <mat-header-cell *matHeaderCellDef>Copy</mat-header-cell>
            <mat-cell *matCellDef="let sanctionRequest">
              <button mat-icon-button (click)="onDuplicateSanction(sanctionRequest.id)"><mat-icon aria-label="Copy">content_copy</mat-icon></button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
                       [length]="length$ | async"
                       [pageIndex]="0"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="onPageEvent($event)">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
  <div fxFlex></div>
</div>


