<md-card-title style="text-align: center">SIGN IN</md-card-title>

<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <md-icon class="material-icons md-dark md-inactive">email</md-icon>
      <md-input-container fxFlex="80%">
        <input mdInput type="email" placeholder="Email" name="email" [(ngModel)]="email" required>
        <md-error>This field is required</md-error>
      </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <md-icon>lock_open</md-icon>
      <md-input-container fxFlex="80%">
        <input mdInput type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
        <md-error>This field is required</md-error>
      </md-input-container>
      <button md-mini-fab color="white"><md-icon>remove_red_eye</md-icon></button>
    </div>
    <button md-raised-button color="primary">LOGIN</button>
  </div>
  <button class="md-button my-icon-button" aria-label="Facebook" (click)="loginWithFacebook()">
    <img src="assets/images/FB-f-Logo__blue_29.png" alt="Facebook">
  </button>
</form>
<h3>Don't have an account? <a md-button color="primary" routerLink="../register">SIGN UP</a></h3>
