<div fxLayout="column" style="border: 2px solid red" fxFill>


  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="{{ !isMobile }}" >
      <app-main-menu></app-main-menu>
    </mat-sidenav>

    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>


  <!--Hello here-->
  <!--<div>-->
    <!--<ul>-->
      <!--<li *ngFor="let todo of todos; let i = index">-->
        <!--{{i}} {{todo.title}} MMM-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--End Hello-->
</div>
