<mat-sidenav-container fullscreen>
    <mat-toolbar color="primary">
      <a *ngIf="isMobile" (click)="onMenuClick(sidenav)"><mat-icon style="margin: 8px 15px 0 0">menu</mat-icon></a>
      <span *ngIf="isMobile" class="color-primary">{{toolbarTitle}}</span>
    </mat-toolbar>
    <mat-sidenav class="my-sidenav" #sidenav mode="{{ sideNavMode }}" opened="{{ !isMobile }}">
        <div *ngIf="!isMobile" class="corner-box">
          <h3>{{toolbarTitle}}</h3>
        </div>
        <app-main-menu [sideNav]="sidenav" [isMobile]="isMobile"></app-main-menu>
      </mat-sidenav>
      <div>
        <router-outlet></router-outlet>
      </div>
</mat-sidenav-container>
