<div fxLayout="row">
  <div fxFlex></div>
  <mat-card class="insurancecard">
    <button mat-fab class="top-right-fab" (click)="onAddInsurance()">
      <mat-icon aria-label="Add insurance request">add</mat-icon>
    </button>
    <mat-card-title>Insurance Certificate Requests</mat-card-title>
    <mat-progress-bar *ngIf="loading$ | async; else elseblock" mode="indeterminate" color="primary"></mat-progress-bar>
    <ng-template #elseblock><mat-progress-bar mode="determinate" color="primary" value="0"></mat-progress-bar></ng-template>
    <mat-card-content>
      <div class="insurance-table mat-elevation-z8">
        <mat-table #insurancetable [dataSource]="dataSource">
          <ng-container matColumnDef="contactName">
            <mat-header-cell *matHeaderCellDef>ContactName</mat-header-cell>
            <mat-cell *matCellDef="let contact">{{ contact.contactName }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="contactEmail">
            <mat-header-cell *matHeaderCellDef>ContactEmail</mat-header-cell>
            <mat-cell *matCellDef="let contact">{{ contact.contactEmail }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayColumns" (click)="onRowClick(row)"></mat-row>
        </mat-table>
        <mat-paginator #paginator
                       [length]="length$ | async"
                       [pageIndex]="0"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="onPageEvent($event)">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
  <div fxFlex></div>
</div>

