<div fxLayout="row">
  <div fxFlex></div>
<div class="sanction-form">
  <form name="form" (ngSubmit)="save(f.value)" #f="ngForm" novalidate>
<mat-card>
    <mat-card-title>Sanction Request</mat-card-title>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Request Information">

          <mat-card-subtitle class="mat-title">Tournament Information</mat-card-subtitle>
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">

                <mat-form-field fxFlex="100%">
                  <input matInput type="text" placeholder="Tournament Name" name="tournamentName" [ngModel]="(sanctionRequest$ | async).tournamentName" required>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
              </div>

            </div>

            <div>
              <mat-form-field fxFlex="100%">
                <input matInput type="text" placeholder="Web link URL" name="webLinkURL" [ngModel]="(sanctionRequest$ | async).requestContents.webLinkURL">
              </mat-form-field>
            </div>
          </div>

          <mat-card-subtitle class="mat-title">Venue Address</mat-card-subtitle>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-form-field fxFlex="100%">
              <input matInput type="text" placeholder="Street Address" name="venueStreetAddress" [ngModel]="(sanctionRequest$ | async).requestContents.venueStreetAddress" required>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-form-field fxFlex="60%">
              <input matInput type="text" placeholder="City" name="venueCity" [ngModel]="(sanctionRequest$ | async).requestContents.venueCity" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="20%">
              <mat-select matInput type="text" placeholder="State" name="venueState" [ngModel]="(sanctionRequest$ | async).requestContents.venueState">
                <mat-option *ngFor="let state of statesList" value="{{state.abbreviation}}">{{state.abbreviation}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="20%">
              <input matInput type="text" placeholder="Zip Code" name="venueZip" [ngModel]="(sanctionRequest$ | async).requestContents.venueZip" required  pattern="^[1-9][0-9]{4}" maxlength="6">
              <mat-error>This field is required</mat-error>
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Star Rating Criteria">
          <div>
          <!--<mat-list>-->
            <!--<div *ngFor="let category of (sanctionRequest$ | async).requestContents.categories">-->
              <!--<h4>{{category.title}}</h4>-->
              <!--<div fxLayout="column">-->
                <!--<div *ngIf="category.selectOne; else multiSelection">-->
                  <!--<mat-radio-group class="criteria-radio-group" name="{{ category.name }}" [ngModel]="category.selectedValue" fxFlex="70%">-->
                    <!--<div fxLayout="row" *ngFor="let criteria of category.criteria; index as i">-->
                      <!--<div fxFlex="80%">-->
                          <!--<mat-radio-button class="criteria-radio-button" name="category.name + i" [value]="criteria.points" [checked]="criteria.selected">{{ criteria.name }}</mat-radio-button>-->
                      <!--</div>-->
                    <!--<div fxFlex="20%">{{ criteria.requiredForStarLevel }}</div>-->
                    <!--</div>-->
                  <!--</mat-radio-group>-->
                <!--</div>-->
                <!--<ng-template #multiSelection>-->
                  <!--<div fxFlex="70%">-->
                    <!--<div fxLayout="row" *ngFor="let criteria of category.criteria; index as i" class="criteria-checkbox-row">-->
                      <!--<div fxFlex="80%">-->
                        <!--<mat-checkbox [ngModel]="criteria.selected" name="{{ category.name + i}}" value="{{ criteria.points }}">{{ criteria.name }}</mat-checkbox>-->
                      <!--</div>-->
                      <!--<div fxFlex="20%">{{ criteria.requiredForStarLevel }}</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</ng-template>-->
              <!--</div>-->
            <!--</div>-->
          <!--</mat-list>-->


            <mat-accordion class="example-headers-align">
              <div *ngFor="let category of (sanctionRequest$ | async).requestContents.categories; index as catIndex">
              <mat-expansion-panel [expanded]="isCurrentStep(catIndex)" (opened)="setStep(catIndex)" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h4>{{category.title}}</h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="category.selectOne; else multiSelection">
                  <mat-radio-group class="criteria-radio-group" name="{{ category.name }}" [ngModel]="category.selectedValue" fxFlex="70%">
                    <div fxLayout="row" *ngFor="let criteria of category.criteria; index as i">
                      <div fxFlex="80%">
                        <mat-radio-button class="criteria-radio-button" name="category.name + i"
                                          [value]="criteria.points" [checked]="criteria.selected">{{ criteria.name }}
                        </mat-radio-button>
                      </div>
                      <div fxFlex="20%">{{ criteria.requiredForStarLevel }}</div>
                    </div>
                  </mat-radio-group>
                </div>
                <ng-template #multiSelection>
                  <div fxFlex="70%">
                    <div fxLayout="row" *ngFor="let criteria of category.criteria; index as i" class="criteria-checkbox-row">
                      <div fxFlex="80%">
                        <mat-checkbox [ngModel]="criteria.selected" name="{{ category.name + i}}"
                                      value="{{ criteria.points }}">{{ criteria.name }}
                        </mat-checkbox>
                      </div>
                      <div fxFlex="20%">{{ criteria.requiredForStarLevel }}</div>
                    </div>
                  </div>
                </ng-template>

                <mat-action-row>
                  <button mat-button type="button" *ngIf="notFirst(catIndex)" color="primary" (click)="prevStep()">Previous</button>
                  <button mat-button type="button" *ngIf="notLast(catIndex)" color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
              </mat-expansion-panel>
              </div>
            </mat-accordion>
          </div>
        </mat-tab>
      </mat-tab-group>
      <!--{{ sanctionRequest$ | async | json   }}-->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">Save</button>
      <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
      <button mat-raised-button type="button" (click)="onSaveAndSubmit(f.value)">Save and Submit</button>
    </mat-card-actions>
  </mat-card>
  </form>
</div>

  <div fxFlex></div>
</div>
